<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.cesit.androidsampleproject">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".components.MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity android:name=".components.items.detail.ItemDetailActivity"
            android:screenOrientation="portrait"/>

        <service android:name=".backend.BackendService"/>

    </application>
</manifest>
